.top{
    background-color:tomato;
    text-align:center;
    font-family:Arial, Helvetica, sans-serif
}

h1{
    text-align:center;
}

#comic{
    width: 500px;
    height:auto;
}

.breadcrumb > li {
    display: inline;
  }
  
  .breadcrumb li+li::before {
      padding: 10px;
    content: "+"
  }
  
  .breadcrumb a {
    text-decoration: none;
  }
  
  .breadcrumb a:hover {
    color: red;
}